/* roboto-regular - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/roboto-v29-cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v29-cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/roboto-v29-cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v29-cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500italic - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local(''),
    url('../fonts/roboto-v29-cyrillic-500italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v29-cyrillic-500italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/roboto-v29-cyrillic-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v29-cyrillic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-regular - cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/fira-sans-v15-cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/fira-sans-v15-cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-600 - cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/fira-sans-v15-cyrillic-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/fira-sans-v15-cyrillic-600.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-700 - cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/fira-sans-v15-cyrillic-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/fira-sans-v15-cyrillic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}






html {
  box-sizing: border-box;
}


*, *::after, *::before {
  box-sizing: inherit;
}

/* max-width 100 что бы картинка не выпадала из родителя
height auto, что бы картинки не искажались*/
/* img {
  max-width: 100%;
  height: auto;
} */

button {
  padding: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

/* form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} */
.bb {
  border: 1px solid red;
}

.bbb {
  border: 1px solid rgb(27, 238, 150);
}

.body {
  font-family: 'Roboto';
  font-style: normal;
  color: white;
}

.body-index-html {
  background-color: #689ED4;
}

.main-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

/* HEADER */
.header {
  position: absolute;
  width: 100%;
}

.creeping-line-bg {
  background: #12161C;
}

.creeping-line {
  height: 48px;
  display: flex;
  column-gap: 97px;
  align-items: center;
}

.creeping-line__name:first-child {
  margin-left: 164px;
}

.creeping-line__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}

.creeping-line__color-green {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: #28DF71;
}

.creeping-line__color-red {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: #E01E3C;
}

.wrapper {
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}

.container__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 36px;
  /* background: transparent; */
}

.nav__list {
  display: flex;
  column-gap: 56px;
  margin-left: 161px;
}

.nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.nav__link-active {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.nav__request-call-from-email {
  display: flex;
  column-gap: 12px;
  margin-left: 191px;
}

.nav__request-call-from-email>a {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
}

.nav__request-call-from-phone {
  display: flex;
  column-gap: 8px;
  align-items: center;
  margin-left: 25px;
}

.nav__request-call-from-phone>a {

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
}

.nav__vertical-dash {

  width: 1px;
  height: 17px;
  background: #FFFFFF;
  margin-left: 20px;
}

.nav__search {
  margin-left: 19px;
  margin-bottom: -7px;
}

.nav__russian-flag {
  margin-bottom: -7px;
  margin-left: 17px;
  align-content: center;
}

.nav__select-lang {
  background: transparent;
  border: 0;
  margin-left: 9px;
  width: 83px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: -5px;
}

.nav__select-lang:hover {
  background: #689ED4;
  border: 0;
}

/* section full range services */

.full-range__bg {
  background: linear-gradient(180deg, #5B7BB7 0%, #6196CB 100%) no-repeat center;
  background-size: cover;
  min-height: 849px;
}

.full-range-services__flex-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 217px;
  padding-top: 244px;
  /* flex-wrap: wrap; */
  column-gap: 74px;
}

.style-for-h1 {
  font-weight: 700;
  font-size: 58px;
  line-height: 55px;
  color: #FFFFFF;
}

.style-for-h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 46px;
}

.style-for-h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 46px;
}

.full-range-services__title {
  margin-bottom: 24px;
}

.full-range-services__desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 37px;
}

.full-range-services__items {
  width: 817px;
  display: flex;
  align-items: center;
  margin-bottom: 38px;
  margin-left: 15px;
  column-gap: 45px;
}

.full-range-services__item {
  display: flex;
  flex-direction: column;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #C8D7EB;
}

.full-range-services__item::before {
  position: absolute;
  content: '';
  display: block;
  width: 1px;
  height: 13px;
  left: -14px;
  top: 3px;
  background: #C8D7EB;
}

.full-range-services__item1 {
  width: 159px;
}

.full-range-services__item2 {
  width: 194px;
}

.full-range-services__item3 {
  width: 153px;
}

.full-range-services__item4 {
  width: 161px;
}

.button-blue {
  padding: 16px 20px 19px;
  background: #2797FF;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.button-dark {
  padding: 16px 20px 19px;
  background: #203E75;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.full-range-services_button {
  padding: 16px 31px 19px;
}

.full-range-services__photo {
  border-radius: 10px;
}

/* section about */

.about__description {
  display: flex;
  align-items: center;
  column-gap: 89px;
  margin-top: 147px;
  margin-bottom: 82px;
  /* flex-wrap: wrap; */

}

.about__img {
  margin-left: 51px;
  margin-bottom: -11px;
}

.about__tilte {
  color: #FFFFFF;
  margin-bottom: 19px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  padding-right: 3px;
  width: 1097px;
}

.about_text_mb {
  margin-bottom: 27px;
}

.about__cards {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  column-gap: 38px;
  margin-bottom: 153px;
}

.about__card {
  width: 508px;
}

.about__card-photo {
  border-radius: 10px;
  width: 100%;
}

.about__card__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #FFFFFF;
  margin-top: 34px;
  margin-bottom: 16px;
}

.about__card__phrase {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

/* our works */

.our-works {
  margin-bottom: 155px;
}

.our-works__title {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 59px;
}

.our-works__container {
  display: flex;
  justify-content: space-between;
  column-gap: 71px;
  row-gap: 101px;
  flex-wrap: wrap;
}

.our-works__img {
  border-radius: 10px;
}

.our-works__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.our-works__description-right-shift {
  margin-left: 15px;
  margin-top: 4px;
}

.our-works__description-left-shift {
  margin-right: 23px;
  margin-top: 1px;
}

.our-works__description-title {
  color: #FFFFFF;
  position: relative;
  margin-top: 11px;
  margin-bottom: 17px;
}

.our-works__description-title::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 32px;
  background: #FFFFFF;
  left: -14px;
  top: 7px;
}

.our-works__description-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 41px;
  width: 765px;
}

.our-works__description-more {
  width: 237px;
}

/* our-qualities */

.our-qualities__title {
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 56px;
}

.our-qualities__cards {
  display: grid;
  column-gap: 35px;
  row-gap: 35px;
  /* grid-template-columns: repeat(auto-fit, minmax(275px, 510px)); */
  grid-template-rows: repeat(2, 275px);
  grid-template-columns: repeat(3, 510px);
  margin-bottom: 161px;
}

.our-qualities__card {
  background: #528DC9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 275px;
  padding-left: 41px;
  padding-bottom: 43px;
}

.our-qualities__card-icon {
  margin-bottom: 19px;
}

.our-qualities__card-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.our-qualities__card-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  max-width: 433px;
}

.card-image {
  width: 96%;
}

/* block questions */

.map {
  /* margin-bottom: 134px; */
}

.map__pic {
  position: relative;
  padding-bottom: 127px;
  background: url(../src/map.png) no-repeat center;
  height: 663px;
  background-size: cover;
}

.map__white-bar {
  position: absolute;
  height: 445px;
  width: 693px;
  top: 115px;
  left: 160px;
  background-color: white;
  padding: 39px 45px 18px 45px;
}

.map__white-bar::after {
  content: '';
  background: #DFDFDF;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 351px;
  left: 0;
}

.map__white-bar-title {
  color: #102441;
  margin-bottom: 21px;
}

.map__white-bar-title>span {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #2797FF;
}

.white-bar__grid-container {
  display: grid;
  column-gap: 33px;
  row-gap: 27px;
  grid-template-columns: 340px 1fr;
  margin-bottom: 62px;
  margin-left: 29px;
  margin-top: 22px;
}

.white-bar__text-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #102441;
}

.white-bar__text-icon_01::before {
  position: absolute;
  content: url(../src/svg/white-bar_01_point.svg);
  top: 160px;
  left: 49px;
}

.white-bar__text-icon_02::before {
  position: absolute;
  content: url(../src/svg/white-bar_02_call.svg);
  top: 162px;
  left: 422px;
}

.white-bar__text-icon_03::before {
  position: absolute;
  content: url(../src/svg/white-bar_03_watch.svg);
  top: 261px;
  left: 47px;
}

.white-bar__text-icon_04::before {
  position: absolute;
  content: url(../src/svg/white-bar_04_whatsapp.svg);
  top: 261px;
  left: 422px;
}

.white-bar__text-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #7E8888;
}

.white-bar__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.white-bar__social {
  display: flex;
  column-gap: 24px;
}

.white-bar__button {
  padding: 16px 31px 19px;
}

/* feedback */

.feedback-block {
  margin-bottom: 134px;
}

.feedback {
  display: flex;
  column-gap: 61px;
  align-items: flex-end;
}

.feedback__left-block {
  width: 865px;
}

.feedback__title {
  color: #FFFFFF;
  margin-bottom: 33px;
  padding-top: 134px;
}

.feedback__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.feedback__text1 {
  margin-bottom: 25px;
}

.feedback__text2 {
  margin-bottom: 20px;
}

.feedback__forms-container {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: 330px 330px;
  grid-template-rows: 48px 130px;
  margin-bottom: 23px;
}

.feedback__forms-container>textarea {
  grid-column-start: 1;
  grid-column-end: 3;
}

.feedback__form-properties {
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #405267;
  padding: 10px 0 10px 20px;
}

.feedback__button-container {
  display: flex;
  column-gap: 28px;
  align-items: center;
}

.feedback__right-block-button {
  padding: 16px 31px 19px;
}

.feedback__right-block-agreement {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  width: 387px;
}

/* footer */

.footer-bg {
  background: #1C1E21;

}

.footer__container_inner {
  display: flex;
  padding-top: 48px;
}

.footer__wrapper {
  display: flex;
  padding-top: 12px;
  align-items: flex-start;
}

.footer__container-01 {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  align-items: flex-start;
  margin-right: 134px;
}

.footer__container-02 {
  margin-right: 186px;
}

.footer__container-03 {
  margin-right: 196px;
}

.footer__about-company {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  width: 460px;
}

.footer__logo {
  width: 153px;
  height: 68px;
}

dd {
  margin: 0;
  padding: 0;
}

.footer__items {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.footer-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 251.34%;
  color: #FFFFFF;
}

.footer__container-04-phone {
  display: flex;
  align-items: center;
  column-gap: 17px;
  margin-top: 22px;
}

.footer__phone {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
}

.footer__socials {
  display: flex;
  align-items: center;
  column-gap: 19px;
  margin-top: 32px;
}

.footer__address {
  width: 365px;
  line-height: 24px;
  margin-top: 23px;
}

.footer__copyright {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 79px;
}


.footer__copyright::before {
  position: absolute;
  content: '';
  width: 1170px;
  height: 1px;
  left: 215px;
  background: #353535;
  bottom: 49px;
  z-index: 60;
}

.footer__copyright_rights {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 32px;
}

/* PAGE ABOUT */

/* HEADER */


.body-about {
  background: #F1F4F8;
}

.header__other-pages {
  height: 80px;
  background: url(/src/bg_menu.jpg);
  background-repeat: no-repeat;
  align-items: center;
}

.container__nav-other-pages {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
}

.nav__list-other-pages {
  display: flex;
  column-gap: 56px;
  margin-left: 498px;
}

.nav__request-call-from-phone-other-pages {
  display: flex;
  column-gap: 8px;
  align-items: center;
  margin-left: 43px;
}

.nav__request-call-from-phone-other-pages>a {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
}

/*  page About section About */

.page-about__about-bg {
  background-image: url('/src/page_about_bg_section_about.jpg');
  height: 419px;
  align-items: center;
  position: relative;
  margin-bottom: 132px;
  background-repeat: no-repeat;
  background-size: auto;
  align-items: center;
}

.page-about-h1 {
  text-align: center;
  padding-top: 107px;
}

.cont-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 31px;
}

.page-about__about-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  width: 813px;
  text-align: center;
  margin-bottom: 295px;
}

.page-about__about-h2 {
  color: #102441;
  margin-bottom: 224px;
}

.page-about__about-desc2 {
  display: flex;
  column-gap: 63px;
  margin-bottom: 146px;

}

.page-about__about-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.page-about__about-right {
  height: 414px;
  overflow: auto;
  width: 1284px;

}

.page-about__about-right>p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #405267;
}

/* page About our principied */

.our-principles__title {
  text-align: center;
  color: #102441;
  margin-bottom: 85px;
}


.our-principles__card {
  background: #F9FAFD;
  display: flex;
  border-radius: 0;
  flex-direction: column;
  justify-content: flex-end;
  height: 275px;
  padding-left: 41px;
  padding-bottom: 43px;
}

.our-principles__card-title {
  color: #141414;
}

.our-principles__card-text {
  color: #405267;
}

.our-principles__card-icon>svg {
  color: #1D80EB;
}

.certificates-bg {
  background: url(/src/page_about_bg_certificates.jpg);
}

.certificates__title {
  text-align: center;
  color: #102441;
  padding-bottom: 46px;
  padding-top: 94px;
}

.certificates__pictures {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.certificates-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #405267;
  margin-bottom: 142px;
}

.company-history__title {
  text-align: center;
  color: #102441;
  margin-bottom: 59px;
}


.company-history__graph {
  display: flex;
  column-gap: 72px;
}

.company-history__container {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
}

.company-history__element {
  position: relative;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  text-align: center;
  line-height: 76px;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}



.element2000 {
  background: #203E75;
  position: relative;
}

.element2000::after {
  position: absolute;
  content: "";
  left: 76px;
  top: 33px;
  height: 6px;
  width: 1524px;
  background: #F9FAFD;

}

.element2005 {
  background: #30569C;
}

.element2007 {
  background: #225DCA;
}

.element2009 {
  background: #3972DC;
}

.element2012 {
  background: #236CF2;
}

.element2015 {
  background: #2568E3;
}

.company-history__desc {
  width: 211px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #405267;
  text-align: left;
  margin-bottom: 80px;
}

/* section stuff */

.staff__title {
  text-align: center;
  color: #102441;
  margin-bottom: 56px;
  padding-top: 60px;
}

.staffs__items {
  display: flex;
  column-gap: 28px;
  margin-bottom: 137px;
}

.staffs__item {
  display: flex;
  flex-direction: column;
}

.staffs__pic {
  margin-bottom: 23px;
}

.staffs__name {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: #141414;
  margin-bottom: 8px;
}

.staffs__position {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #405267;
}

/* Our partners */

.our-partners__title {
  text-align: center;
  color: #102441;
  margin-bottom: 67px;
}

.brands__items {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 141px;
}

/*  <!-- page About  block questions --> */

.map__page-about>span {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #203E75;
}

.white-bar__text-title-page-about {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #102441;
}

.white-bar__page-about-text-icon_01::before {
  position: absolute;
  content: url(../src/svg/page-about-white-bar_01_point.svg);
  top: 160px;
  left: 49px;
}

.white-bar__page-about-text-icon_02::before {
  position: absolute;
  content: url(../src/svg/page-about-white-bar_02_call.svg);
  top: 162px;
  left: 422px;
}

.white-bar__page-about-text-icon_03::before {
  position: absolute;
  content: url(../src/svg/page-about-white-bar_03_watch.svg);
  top: 261px;
  left: 47px;
}



/* page Services */


.page-services__services {
  background-image: url('/src/page_services_section_services.jpg');
  background-repeat: no-repeat;

  height: 419px;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}

.page-services-h1 {
  text-align: center;
  padding-top: 107px;
}

.page-services__services-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  width: 813px;
  text-align: center;
  margin-bottom: 295px;
}

/*  page Services our vorks */

.services__container {
  display: flex;
  column-gap: 71px;
  align-items: flex-start;
}

.services__container-big-text {
  display: flex;
  column-gap: 34px;
  align-items: flex-start;
}

.services__container-margin-b {
  margin-bottom: 148px;
}

.services__container-pt-pl {
  padding-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 80px;
}

.services__img {
  border-radius: 0px;
}

.services__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.services__description-title {
  color: #102441;
  position: relative;
  margin-top: 11px;
  margin-bottom: 17px;
}

.services__description-title::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 32px;
  background: #102441;
  left: -14px;
  top: 7px;
}

.services__description-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #405267;
  margin-bottom: 41px;
  width: 765px;
}

.services__description-more {
  width: 237px;
}

.very-width {
  width: 809px;
}

/* Page Detailed */
.page-detailed__services {
  background-image: url('/src/page_detailed_up.jpg');
  background-repeat: no-repeat;
  height: 419px;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}

.page-detailed-h1 {
  text-align: center;
  padding-top: 107px;
}

.page-detailed__services-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  width: 813px;
  text-align: center;
  /* margin-bottom: 295px; */
}


.detailed__container {
  display: flex;
  column-gap: 47px;


}

.detaileds__pic {
  height: 439px;
  overflow: hidden;
  margin-bottom: 52px;
}



.detailed__description-title {
  color: #102441;
  margin-bottom: 17px;
}

.detailed__description-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #405267;
  width: 765px;
}

.detailed__description-text-full {
  width: 95%;
  margin-bottom: 21px;
}

.detailed__description-text_margin-b {
  margin-bottom: 24px;
}

.detailed__description-title2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 28px;
  color: #141414;
  margin-bottom: 21px;
}

.we-best__flex-cont {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.detailed__we-best {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.detailed__we-best-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #203E75;
}

.detailed__we-best {
  margin-bottom: 3px;
}

.detailed__we-best-text {
  width: 306px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #405267;
  margin-left: 50px;
}

.certificates__title-detailed {
  text-align: center;
  color: #102441;
  padding-bottom: 46px;
  padding-top: 67px;
}
.why-we {
  margin-bottom: 13px;
}
.why-we__cont {
  display: flex;
 justify-content: flex-start;
  align-items: center;
  column-gap: 100px;
}
.why-we__left {
  margin-bottom: 24px;
}
.why-we__left-title {
  color: #102441;
  padding-bottom: 44px;
}

.why-we__left-grid-cont {
  display: grid;
  /* column-gap: 35px; */
  row-gap: 30px; 
  grid-template-rows: repeat(2, 99px);
  grid-template-columns: repeat(2, 355px);
  /* margin-bottom: 161px; */
}

.detailed-news__cards {
  display: flex;
  column-gap: 38px;
  padding-bottom: 73px;
}
.detailed-news__card {
  width: 508px;
  height: 503px;
  background: white;
}
.detailed-news__title {
  color: #102441;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 46px;
}
.detailed-news__info {
  padding:  17px 16px 29px 34px;
}
.detailed-news__data {
  display: inline-block;
  font-weight: 400;
font-size: 12px;
line-height: 26px;
color: #405267;
background: #F1F4F8;
padding: 0 8px;
margin-bottom: 10px;
}

.detailed-news__subtitle {
  width: 350px;
  font-weight: 700;
font-size: 24px;
line-height: 26px;
color: #141414;
margin-bottom: 15px;
}

.detailed-news__subtext {
  font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #405267;
}

.detailed-news__ref {
  text-align: center;
  padding-bottom: 114px;
}

.detailed-news__link {
  padding: 16px 54px 19px 55px;
  
}